/* colors
    b22222
    dddddd
    cccccc
 */
body {
    padding-top: 150px;
}

caption {
    font-size: 44px;
    font-weight: 400;
    color: #b22222;
    caption-side: top;
    margin-bottom: -20px;

}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    box-shadow: 2px 10px 25px #cccccc;
}

td, th {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 30%;
    padding: 20px;
}

tr :not(:first-child) {
    text-align: right;
}


td:first-child {
    background: #dddddd;
    font-weight: 400;
    color: #424242;
}

th {
    background: #b22222;
    font-weight: 300;
    color: #cccccc;
}
td {
    border-bottom:2px solid #cccccc;
}
